.container {
  background-color: white;
  width: 60rem;
  min-height: 100vh;
  margin: 0% 15%;
  box-shadow: 5px 5px 30px black;
}

.navbar {
  display: flex;
  height: 75px;
  background-color: #474787;
  justify-content: space-between;
}

.links {
  height: 65px;
  padding-top: 1rem;
  padding-left: 2rem;
  margin-top: 10px;
}

.navbar a {
  margin-top: 10px;
  padding: 15px 25px;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: slategray;
  cursor: pointer;
}

.isSelected {
  font-weight: bold;
  color: rgb(0, 255, 157);
  border-bottom: 2px solid rgb(0, 255, 157);
}

.brand {
  color: white;
  margin-top: 15px;
  margin-right: 50px;
  font-size: 2rem;
  width: 300px;
  font-family: cursive;
  pointer-events: none;
  text-shadow: 5px 5px 5px black;
}

.content {
  margin-left: 3rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.display-picture {
  background-size: cover;
  height: 300px;
  width:300px;
  margin-right: 5rem;
  margin-top: 3rem;
  border: 3px solid black;
  border-radius: 150px;
  box-shadow: 10px 10px 20px slategray;
}

p {
  font-size: 1.1rem;
  font-family: cursive;
  text-align: justify;
}

.aboutpage-text {
  width: 50%;
}

.description {
  margin-right: 20px;
}

.halifax-image {
  width: 500px;
  margin: 10px;
  border: 2px black solid;
  border-radius: 5px;
  margin-right: 3rem;
  box-shadow: 10px 10px 20px slategray;
}

.photo-credit {
  margin: 2% 25%;
}

.weather-widget {
  width: 80%;
}

.weather-display {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.weather-image {
  margin-top: 10px;
  width: 60%;
}

.temperature {
  justify-content: flex-end;
}

.convert-btn {
  width: 100%;
  background-color: #13aa52;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 25px;
  text-align: center;
}

.convert-btn:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}